<h3>Hello my Romans</h3>
<app-servers></app-servers>
<!-- <app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert> -->

<hr>
<!-- 
<label>Enter username:</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{ userName }}</p>
<button class='btn btn-primary' (click)="onUserReset()" [disabled]="!isUserNameSet()">Reset username</button>

<label>Enter username:</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{ userName }}</p>
<button class='btn btn-primary' (click)="userName = ''" [disabled]="userName === ''">Reset username</button> -->